* {
    box-sizing: border-box;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .category {
    margin: 2em;
    padding: 2em;
    border: 2px solid black;
    text-align: center;
  }
  
  .category img {
    display: block;
    margin: 0 auto;
  }
  
  nav {
    background-color: cornflowerblue;
    text-align: center;
    padding: 1em;
  }